body {
    display: flex;
    flex-direction: column; /* garante que o header fique em cima */
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

img{
    border: 1px solid #3b3b3b;
    border-radius: 20px;
}

#logo {
    height: 30px;
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #FF6700;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
    justify-content: center; 
    color: white;
    gap: 25px;
    font-weight: bold;
}

.cabecalho a:hover {
    text-decoration: none;
    color: #FF6700;
    border-bottom: 1px solid #FF6700;
}

/* ---------------- GRID ---------------- */

.grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
}

/* bloco grande à esquerda */
.item.grande {
    grid-row: 1 / 3;
    border: 2px solid #3b3b3b;
    border-radius: 15px;
}

/* blocos pequenos à direita */
.item.pequeno:nth-of-type(2) { grid-column: 2; grid-row: 1; }
.item.pequeno:nth-of-type(3) { grid-column: 2; grid-row: 2; }

/* blocos horizontais com texto */
.item.texto {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}
